<button
  [ngClass]="className"
  [routerLink]="'/pokemondetails'"
  (click)="setPokemonData()"
>
  <h3 class="title">{{ pokemon.name }}</h3>
  <img
    [src]="pokemon.imgUrl"
    [alt]="pokemon.name"
    class="card-image"
    height="150"
    width="150"
  />
  <div>
    @for(type of pokemon.types; track $index){

    <span
      >{{ type.type.name }}
      {{
        pokemon.types.length > 1 && $index !== pokemon.types.length - 1
          ? ", "
          : ""
      }}
    </span>
    }
  </div>
</button>
